h1{
    text-align: center;
}
.back{
    display: inline-block;
    margin: 2rem 0;
}
.back a{
    background-color: green;
    color: #fff;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
}
.form{
    width: 70%;
    margin: 3rem auto;
    background-color: #dedede12;
    box-shadow: 0 0 5px #dedede;
    padding: 2rem;
    border-radius: 16px;
}
.form label{
    display: block;
    font-size: 18px;
    margin-bottom: 1rem;
}
.form input{
    width: 100%;
    padding: 8px;
    font-size: 18px;
    margin-top: 0.75rem;
    border: 1px solid #dedede;
    border-radius: 8px;
}
.form .submit{
    width: auto;
    padding: 8px 40px;
    background-color: green;
    color: #fff;
    border: none;
    cursor: pointer;
}