
.info span{
    color: #777;
}
.delete{
    background: none;
    border: none;
}
svg{
    height: 1.5rem;
    width: 1.5rem;
    cursor: pointer;
}
.buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}
a svg{
    color: green;
}
.buttons .delete{
    color: #c00303bd;
}
