.add{
    display: inline-block;
    margin: 2rem 0;
}
.add a{
    background-color: green;
    color: #fff;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 4px;
}

/* Tablet Responsive*/
@media (max-width: 768px) {
    .users{
        grid-template-columns:  repeat(2, 1fr);
    }
}

/* Mobile Responsive*/
@media (max-width: 425px) {
    .users{
        grid-template-columns:  repeat(1, 1fr);
    }
}


table{
    width: 100%;
    margin-top: 2rem;
}
thead tr{
    color: #444;
}
thead th{
    padding: 10px;
    text-transform: capitalize;
    text-align: left;
    border-bottom: 1px solid rgb(136 134 134 / 32%);

}
tbody td{
    text-align: left;
    padding: 12px 10px ;
    border-bottom: 1px solid rgb(136 134 134 / 32%);
}
tbody tr:nth-child(odd){
    background-color: #d2d2d24a;
}
tbody .buttons{
    display: flex;
    justify-content: space-evenly;
    margin: 0;
}
svg {
    height: 1.5rem;
    width: 1.5rem;
    cursor: pointer;
}
a svg {
    color: green;
}  
.buttons .delete {
    background: none;
    border: none;
    color: #c00303bd;
}
.no-users{
    text-align: center;
    font-size: 32px;
    display: block;
}